<div class="jumbotron jumbotron-sm">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-lg-12">
              <h1 class="h1 h1course">33% complete</h1>
          </div>
      </div>
  </div>
</div>

<div class="container rowwidth">
  <div class="row">
    <form action="#laststep" method="get">
      <h2>Basic Information</h2>
      <label>*Address:</label>
      <input required type="text" class="formfield form-control">
      <br>
      <label>Address 2:</label>
      <input type="text" class="formfield form-control">
      <br>
      <label>*City:</label>
      <input required type="text" class="formfield form-control">
      <br>
      <label>*State:</label>
      <input required type="text" class="formfield form-control">
      <br>
      <label>*zip:</label>
      <input required type="text" class="formfield form-control">
      <br>
      <button class="button large" type="submit">Next Section</button>
  <form>
  </div>
</div>
