<div class="jumbotron jumbotron-sm">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-lg-12">
              <h1 class="h1 h1course">0% complete</h1>
          </div>
      </div>
  </div>
</div>
<div class="container rowwidth">
  <div class="row">
    <form action="#address" method="get">
      <h2>Basic Information</h2>
      <br>
      <label>*First Name:</label>
      <input required type="text" name="Full Name" class="formfield form-control">
  <br>
      <label>*Last Name:</label>
      <input required type="text" name="Full Name" class="formfield form-control">
  <br>
      <label>*Email:</label>
      <input required type="email" name="Email" class="formfield form-control">
      <br>

      <label>*Phone Number:</label>
      <input required type="tel" name="Phone Number"class="formfield form-control">
  <br>
      <!-- <a href="#laststep"> -->
        <button class="button large" type="submit">Next Section</button>
      <!-- </a> -->
    </form>
  </div>
</div>
