<div class="jumbotron jumbotron-sm">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-lg-12">
              <h1 class="h1 h1course">GET PRE-QUALIFIED FOR A $6000 LOAN</h1>
              <h3 style="text-align:center;">No Minimum Credit Scores For Acceptance</h3>
          </div>
      </div>
  </div>
</div>

<div class="container rowwidth">
  <div class="financingIntro">
    <div class="row">
        <h3>Step 1: <i class="fa fa-pencil-square-o" aria-hidden="true"></i></h3>
        <h4>Complete our online application.</h4>
        <br>
        <h3>Step 2: <i class="fa fa-comments-o" aria-hidden="true"></i></h3>
        <h4>Talk with our admissions team.</h4>
        <br>
        <h3>Step 3: <i class="fa fa-money" aria-hidden="true"></i></h3>
        <h4>Sign and receive funds!</h4>
        <br>
        <h4 style="font-weight:bold; font-style:italic;">This will not affect your credit score in any way</h4>
    </div>

    <div class="row">
      <input type="hidden" name="utf8" value="✓">
      <a href="#info">
        <button class="button large">Start the application</button>
      </a>
    </div>
  </div>
</div>
