<div class="jumbotron jumbotron-sm">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-lg-12">
              <h1 class="h1 h1course">66% complete</h1>
          </div>
      </div>
  </div>
</div>

<div class="container rowwidth">
  <div class="row">
    <form action="#congrats" method="get">
      <h2>Basic Information</h2>
      <br>
      <label>*Annual Household Income</label>
        <br>
        <div class="radio">
          <input name="income" type="radio" required>
          <label>$0 - $20,000</label>
        </div>
        <div class="radio">
          <input name="income" type="radio" checked>
          <label>$20,000 - $50,000</label>
        </div>
        <div class="radio">
          <input name="income" type="radio">
          <label>$50,000 - $100,000</label>
        </div>
        <div class="radio">
          <input name="income" type="radio">
          <label>$100,000+</label>
        </div>

        <br>
      <label>*Credit Score</label>
        <br>
        <div class="radio">
          <input name="credit" type="radio" checked required>
          <label>0 - 599</label>
        </div>
        <div class="radio">
          <input name="credit" type="radio">
          <label>600 - 649</label>
        </div>
        <div class="radio">
          <input name="credit" type="radio">
          <label>650 - 689</label>
        </div>
        <div class="radio">
          <input name="credit" type="radio">
          <label>690 - 739</label>
        </div>
        <div class="radio">
          <input name="credit" type="radio">
          <label>740+</label>
        </div>
        <br>
        <br>
      <button class="button large" type="submit">See Results</button>
  <form>
  </div>
</div>
